{
  "tokens": {
    "api": api_token,
    "base64": auth_token,
    "config_comment": "auth_token is basically the result of Base64.encode64(api_token + ':' + string 'api_token'). For some reason the Ruby's Base64 encoding gets rejected on the Toggl end. Its output string is slightly different than the one from https://www.base64encode.org/. I used that website instead and put the result into 'basic_auth_token' defined above.
    Perform URL safe encoding
    --It's safe to delete this comment."
  }
}
