{
  "workspace": {
    "id": workspace_id,
    "api_token": api_token,
    "basic_auth_token": auth_token, # Base64.encode64(api_token + ":" + string 'api_token'). For some reason the Ruby Base64 class isn't helpful. I used https://www.base64encode.org/ instead and it worked.
  }
}
