{
  "installed": {
    "config_comment": "All of the values inside 'installed' are taken directly from enabling the Google Docs API in the first step of this setup: https://developers.google.com/docs/api/quickstart/ruby
    --It's safe to delete this comment."
    "client_id": client_id,
    "project_id": project_id,
    "auth_uri": auth_uri,
    "token_uri": token_uri,
    "auth_provider_x509_cert_url": auth_provider_x509_cert_url,
    "client_secret": client_secret,
    "redirect_uris": [
      redirect_uris,
      "http://localhost"
    ]
  },
  "application": {
    "name": name_defined_during_setup
  },
  "calendars": {
    "config_comment": "The following list isn't required but it may contain any keys paired with calendar_ids taken from your Google Calendar settings. 'primary' is the default calendar. It's possible to use these settings to pair time entry tags in Toggl with a specific calendar used as an output.
    --It's safe to delete this comment."
    "primary": "primary",
    "example": example_calendar_id
  }
}
